@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
}

.date_info {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.date_info i {
  font-size: 3rem;
  letter-spacing: 0.9px;
}

.clock {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 5px;
  font-size: 3.5rem;
}

.form-select {
  width: fit-content;
  right: 0;
  top: 10px;
}

.card h6 {
  letter-spacing: 0.9px;
}

.card-body {
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card h3 {
  letter-spacing: 4px;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 13px;
  }
  .date_info {
    height: 350px;
  }

  .date_info i {
    font-size: 2.5rem;
  }

  .clock {
    font-size: 3rem;
  }

  .form-select {
    top: 100%;
    right: 5px;
    transform: translate(-10px, -120%);
  }
}
